<div class="container">
	<h1>Editing Comment</h1>

	<%= render 'edit.form', comment: @comment %>

	<%= link_to 'Show', nail_comment_path(@comment) %> |
	<%= link_to 'Back', nail_comments_path %>
</div>